img{
  max-width: 300px;
  max-height: 375px;
  width: auto;
  height: auto;
  padding-top: 30px;
}

.results{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 80vh;
  overflow-y: auto;
  border: white 2px solid;
  border-radius: 8px;
}

.movieCard{
  min-width: 400px;
  width: 400px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.322);
  min-height: max-content;
  margin: 5px 5px;
  border: 2px solid transparent;
  border-radius: 8px;
  max-width: 400px;
  justify-content: center;
}

h4{
  color: white;
  max-width: 100%;
  justify-self: center;
  padding: 0 10px;
}

.div-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.div-scrollbar::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

.div-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: white;
}

.div-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #0094e971;
}

.movieCard:hover{
  background-color: #0094e971;
}
